.coaches {
  color: $color-default-white;
  padding-top: 32px;
  padding-bottom: 90px;

  h2 {
    text-align: left;
    margin: 0 0 50px;
  }

  h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    margin-bottom: 24px;
  }
}

.coaches__wrapper {
  position: relative;
}

.coaches__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.coaches__item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 40px;
  background-color: $color-grey;
  cursor: pointer;
  aspect-ratio: 260 / 294;

  h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    text-align: center;
    position: relative;
    z-index: 5;
    margin-top: auto;
  }

  &:hover,
  &:focus {
    padding: 50px 40px;
    overflow: auto;
    background-color: rgba(16, 38, 84, 0.89);
    transition: background-color 0.2s linear;

    h3 {
      margin: 0;
      animation: appear 0.08s linear;
    }

    .coaches__text {
      display: block;
      animation: appear 0.08s linear;
    }

    .coaches__img {
      z-index: -1;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.coaches__text {
  display: none;

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: #b6bdcc;
    margin: 0 0 30px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    padding-left: 31px;
    margin-bottom: 13px;

    &::before {
      content: "";
      top: 7px;
      left: 15px;
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $color-default-white;
    }
  }
}

.coaches__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.coaches__button-prev {
  left: -53px;
  top: 53%;

  &:hover {
    opacity: 70%;
  }
}

.coaches__button-next {
  right: -51px;
  top: 53%;

  &:hover {
    opacity: 70%;
  }
}

@keyframes appear {
  from {
    transform: translateX(-100px);
  }

  to {
    transform: none;
  }
}

@media (max-width: $vp-1200) {
  .coaches {
    padding: 50px 0 99px;

    h2 {
      text-align: center;
      margin-bottom: 30px;
      padding-right: 5px;
    }
  }

  .coaches__wrapper {
    padding: 0 55px;
  }

  .coaches__item {
    aspect-ratio: 268 / 294;
  }

  .coaches__button-prev {
    left: 3px;
    top: 54%;
  }

  .coaches__button-next {
    right: 3px;
    top: 54%;
  }
}

@media (max-width: $vp-767) {
  .coaches {
    padding: 12px 0 70px;

    h2 {
      margin-bottom: 43px;
    }
  }

  .coaches__wrapper {
    padding: 0 32px;
  }

  .coaches__item {
    aspect-ratio: 226 / 274;

    &:hover,
    &:focus {
      padding: 40px 20px;
    }
  }
}
