.navigation {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 400;
    color: $color-default-white;
    padding: 5px 0;

    &:hover {
      color: $color-egyptian-blue;
    }
  }
}

@media (max-width: $vp-1200) {
  .navigation {
    li {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: $vp-767) {
  .navigation {
    margin-top: -24px;
    margin-bottom: 15px;
    column-count: 2;
    column-gap: 30px;

    ul {
      display: block;
    }

    li:first-child {
      padding-top: 40px;
      padding-bottom: 15px;
    }

    li {
      margin-right: 0;
      padding-bottom: 17px;
    }

    a {
      font-size: 16px;
      line-height: 18.75px;
    }
  }
}
