.sale {
  padding-top: 148px;
  padding-bottom: 80px;

  h2 {
    margin: 0 0 35px;
  }
}

.sale__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.sale__time {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sale__text {
  display: flex;
  flex-direction: column;
  background-color: $color-torch-red;
  padding: 33px 45px 45px;
  color: $color-default-white;

  h3 {
    font-size: 28px;
    line-height: 43.68px;
    font-weight: 700;
    margin: 0;
  }

  span {
    font-size: 70px;
    line-height: 109.2px;
    font-weight: 700;
    margin-top: -25px;
  }

  p {
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 400;
    margin: 0 0 -2px;
  }

  a {
    position: relative;
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: $color-default-white;
    text-transform: uppercase;
    width: min-content;
    margin-top: 189px;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $color-default-white;
    }

    &:hover {
      opacity: 70%;
      transition: opacity 0.3s ease;
    }
  }
}

.sale__img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sale__info {
  color: $color-resolution-blue;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

  li {
    border: 7px;
    border-style: inset;
    border-image: $gradient-border 1;
    padding: 29px 29px;
  }

  h3 {
    font-size: 26px;
    line-height: 15px;
    font-weight: 700;
    margin: 0 0 14px;
  }

  p {
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 400;
    margin: 0 0 65px;
  }

  a {
    position: relative;
    font-size: 12px;
    line-height: 14.06px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: $color-resolution-blue;
    text-transform: uppercase;
    width: min-content;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $color-resolution-blue;
    }

    &:hover {
      opacity: 70%;
      transition: opacity 0.3s ease;
    }
  }
}

@media (max-width: $vp-1200) {
  .sale {
    padding-top: 95px;
    padding-bottom: 50px;

    h2 {
      margin: 0 0 40px;
      padding-right: 10px;
    }
  }

  .sale__container {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .sale__time {
    grid-template-columns: 1fr 1.43fr;
  }

  .sale__text {
    padding: 35px 25px 45px 45px;
  }

  .sale__info {
    flex-direction: row;
    gap: 30px;

    li {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    p {
      margin-bottom: 52px;
    }
  }
}

@media (max-width: $vp-767) {
  .sale {
    padding-top: 63px;

    h2 {
      padding-right: 5px;
      margin-bottom: 42px;
    }
  }

  .sale__time {
    grid-template-columns: 1fr;
  }

  .sale__text {
    width: 100%;
    align-items: center;
    padding: 35px 50px 48px;

    p {
      margin-top: -6px;
      text-align: center;
    }

    a {
      margin-top: 30px;
    }
  }

  .sale__img {
    width: 100%;
  }

  .sale__info {
    flex-direction: column;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 41px 20px 42px;
    }

    p {
      text-align: center;
      margin-bottom: 27px;
    }
  }
}
