.social {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $color-default-white;

    &:hover {
      opacity: 70%;
      background-color: $color-egyptian-blue;

      svg {
        fill: $color-default-white;
      }
    }
  }

  svg {
    fill: $color-black-russian;
  }
}
